<h4>
  <a href="/planets/<%= @planet.id %>">
    Return to Planet
  </a>
</h4>

<h4>
  <%= button_to "Create Satellite", "/planets/#{@planet.id}/satellites/new", method: :get %>
</h4>

<%= link_to "Order by Name", "?order=name" %>

<% @satellites.each do |satellite| %>



  <h1><%= link_to "#{satellite.name}", "/satellites/#{satellite.id}" %></h1>
  <p>Host Planet: <%= satellite.planet_id %></p>
  <p>Discovery Year: <%= satellite.discovery_year %></p>
  <p>Artificial? <%= satellite.artificial %></p>
  <p>Created At - <%= satellite.created_at %></p>
  <p>Updated At - <%= satellite.updated_at %></p>


<% end %>
