
<h4>
  <%= link_to "Return to All Satellites", "/satellites" %>
</h4>

  <h1><%= link_to "#{@satellite.name}", "/satellites/#{@satellite.id}" %></h1>
  <p>Host Planet: <%= @satellite.planet_id %></p>
  <p>Discovery Year: <%= @satellite.discovery_year %></p>
  <p>Artificial? <%= @satellite.artificial %></p>
  <p>Created At - <%= @satellite.created_at %></p>
  <p>Updated At - <%= @satellite.updated_at %></p>
